*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.card{
    height: 90dvh;
    width: 30dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(rgba(127, 255, 212, 0.8), rgba(135, 207, 235, 0.8));
    border-radius: 1rem;
}

.search{
    height: 10dvh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#input-box{
    padding: 15px;
    width: 20dvw;
    font-size: 1rem;
    border-radius: 20px;
    border:none;
    outline: none;
}

#search-btn{
    margin-left: -20px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 50%;
    border:none;
    outline: none;
}

.weather{
    height: 70dvh;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#weather-icon{
    height: 140px;
}

.type-temp{
    height: 10dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-type{
    margin-right: 30px;
    font-size: 1.8rem;
    font-weight: 500;
}

#temp{
    font-size: 2.5rem;
    font-weight: 700;
}

#city{
    font-size: 3rem;
    font-weight: 500;
}

.details{
    height: 20dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.col{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col img{
    height: 2.2em;
    margin: 0px 10px 20px 0px;
}

.sub-details{
    margin-bottom: 6px;
    font-size: 1.8rem;
}
