*{
    margin: 0;
    padding: 0;
    border:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    overflow: hidden;
}
h1{
    color: white;
    font-size: 2rem;
    margin: 10px 0px;
}

.calculator{
    height: 80vh;
    width: 25vw;
    background: rgba(190, 183, 183, 0.4);
    border-radius: 0.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

#display{
    min-height: 10vh;
    width: 85%;
    padding-right: 20px;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.5rem;
    border: none;
    background-color: white;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}

.keys-container{
    height: 60vh;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keys{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
}

button{
    height: 4rem;
    width: 4rem;
    margin: 0px 4px;
    border-radius: 50%;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);;
}

button:hover{
    background-color: rgba(255, 255, 255);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(34, 100%, 50%);
    color: white;
}

.operator-btn:hover{
    background-color: hsl(34, 100%, 40%);

}

.operator-btn:active{
    background-color: hsl(34, 100%, 75%);

}

.clear-btn{
    background-color: rgb(255, 0, 0);
    color: white;
}

.clear-btn:hover{
    background-color: rgb(196, 5, 5);

}

.clear-btn:active{
    background-color: rgba(255, 0, 0, 0.9);

}